@import "tailwindcss";


.slick-slide > div {
    margin: 0 10px;
}


@font-face {
  font-family: 'Papyrus';
  src: url('./assets/fonts/papyrus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Papyrus', cursive;
}